<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uofmgroupfinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/mgoldy"
        android:label="@string/test"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.uofmgroupfinder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uofmgroupfinder.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.ManagementActivity"
            android:label="@string/title_activity_management"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.ResultsActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.ResultsInfoActivity"
            android:label="@string/title_activity_result"
            android:parentActivityName="ResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ResultsActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.SearchResults"
            android:label="@string/title_activity_search_results"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.ResultsGroup"
            android:label="@string/title_activity_results_group"
            android:parentActivityName="SearchResults" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="SearchResults" />
        </activity>
        <!-- <activity android:label="@string/title_activity_results" android:name="com.uofmgroupfinder.ResultsActivity"> </activity> -->
        <activity
            android:name="com.uofmgroupfinder.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:parentActivityName="ManagementActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ManagementActivity" />
        </activity>
        <activity
            android:name="com.uofmgroupfinder.SubscriptionActivity"
            android:label="@string/title_activity_subscription"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
